<div class="actions_list">
	<div class="action_item">

		<div class="single_action">
			<div class="content">
				qsdmlsqmldlùsqd
			</div>

			<div class="donationProgress" data-total="200" data-progress="100">
				<div class="progress" style="width: 0%;">
					<div class="percent">0%</div>
				</div>
			</div>

		</div>
    
	</div>
</div>
