<div class="actions_list">
			<div class="action_item">
				<ul>

					<li>
						<div class="single_action">
							<div class="content">
								qsdmlsqmldlùsqd
							</div>

							<div class="progressBar" data-total="100" data-progress="50">
								<div class="progress" id="progress" style="width: 0%;">
									<div class="percent-text" id="percentText">0%</div>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>