<div class="single {% if isBot %}bot{% endif %}" >
                                        <div class="avatar" >
                                            <img {% if isBot %}
                                                src="{{ asset('images/forum/chat.jpg') }}"
                                            {% else %}
                                                 src="{{ asset('images/cours/person.jpg') }}"
                                            {% endif %}  alt="">

                                        </div>
                                        <div class="text" >
                                            eorioeipegjkefngfdn;,dnfg dfgjkldf odauzoeuoazueoazeiaeoziuaze ,a dza d,nsbqhsdjqsdq sdzidpoipoazidpaizpodaozdlzahkjd ekzoaze65aze65 4a6e 6az6e546aze4 65az6e5 6a5ze65aze65a65 

                                        </div>

                                    </div>