{% extends 'home/homeLayout.html.twig' %}
{% import 'home/components/cours/coursGrid.html.twig' as courGrid %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/filter_page.css') }}">
{% endblock %}


{% block body %}


	<div class="filter_page">


		<div class="filter_header" style="background-image: url({{ asset('images/filter/header.png')}})">
			<div class="seach_bar_holder">
				<input type="text" class="form-control search_bar">
			</div>
		</div>

		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-3" style="padding-right: 0;">


						<div class="filter_side_bar">
							<h3>Categories</h3>
							<ul class="categories">

								<li>
									<div>
										<span class="cat_title">
											<a href="#">cat 1</a>
										</span>
									</div>
									<ul class="souCategory">
										<li class="subCat_title">
											<a href="#">1 subcat 1</a>
										</li>
										<li class="subCat_title">
											<a href="#">1 subcat 2</a>
										</li>
										<li class="subCat_title">
											<a href="#">1 subcat 3</a>
										</li>
									</ul>
								</li>

								<li>
									<div>
										<span class="cat_title">
											<a href="#">cat 2</a>
										</span>
									</div>
									<ul class="souCategory">
										<li class="subCat_title">
											<a href="#">2 subcat 1</a>
										</li>
										<li class="subCat_title">
											<a href="#">2 subcat 2</a>
										</li>

									</ul>
								</li>

								<li>
									<div>
										<span class="cat_title">
											<a href="#">cat 3</a>
										</span>
									</div>
									<ul class="souCategory">
										<li class="subCat_title">
											<a href="#">3 subcat 1</a>
										</li>
										<li class="subCat_title">
											<a href="#">3 subcat 2</a>
										</li>
										<li class="subCat_title">
											<a href="#">3 subcat 3</a>
										</li>
										<li class="subCat_title">
											<a href="#">3 subcat 4</a>
										</li>
									</ul>
								</li>
							</ul>

						</div>
					</div>
					<div class="col-md-9" style="padding-left: 0;">
						<div>
							<div class="top_filter">
								<div class=" sort_by">
									<label class="form-label">Trier par</label>
									<select class="form-select">
										<option selected>Par nom</option>
										<option value="1">date d'ajoute</option>
										<option value="2">rating</option>
									</select>
								</div>
								<div class="display_mode">
									<div class="single selected">
										<i class="fa-solid fa-grip"></i>
									</div>
									<div class="single">
										<i class="fa-solid fa-list"></i>
									</div>

								</div>

							</div>
						</div>


						<div class="container-fluid">
							<div class="row">
								 


								{% for cours in list_cours %}
									<div class="col-md-4">
										{{ courGrid.displayCourse(cours) }}
									</div>
								{% endfor %}
							</div>

						</div>

						<div class="pagination">


							<nav>
								<ul class="pagination justify-content-center">
									<li class="page-item disabled">
										<a class="page-link">Précédent</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">Suivant</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>

				</div>

			</div>


		</div>
	</div>
{% endblock %}
