{% extends 'admin/adminPanelLayout.html.twig' %}
{% block adminPanelBody %}
      <div class="container">
                        <div class="head">
                            <div class="left">
                                <h3 class="title">Ajouter une Categorie</h3>

                            </div>

                        </div>
                        <div class="form_page s">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div class=" s_btn">
                                    <button class="btn_main mt-3">Enregistrer </button>
                                </div>
                                {{ form_end(form) }}


                            
                        </div>
                    </div>


{% endblock %}


 
