body {
    overflow: hidden;
}

.adminPanel {}

.adminPanel .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.adminPanel .header {
    padding: 5px 10px;
}

.adminPanel .header .header_logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.adminPanel .header .header_logo img {
    height: 50px;
}

.adminPanel .header .header_logo span {
    font-size: 18px;
    font-weight: 700;
    color: var(--fx-main-text-color);
}

.adminPanel .header .right_side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.adminPanel .header .right_side .single {
    font-size: 20px;
    color: var(--fx-primary-color);
}

.adminPanel .header .right_side .single.profile {}

.adminPanel .header .right_side .single.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--fx-primary-color);
}

.adminPanel .header .right_side .single.profile .dropdown-toggle::after {
    display: none;
}

.adminPanel .header .right_side .single .dropdown-menu a .ic {
    color: var(--fx-primary-color);
}

.adminPanel .main {
    display: flex;
}

.adminPanel .main .navBar {
    min-width: 250px;
    background: var(--fx-primary-color);
}

.adminPanel .main .content {
    flex: 1;
    max-height: 100vh;
    overflow: scroll;
    min-height: 100vh;
    padding: 20px;
}

.adminPanel .main .content .box {
    background: #fff;
    margin: 15px;
    border-radius: 5px;
    min-height: 80vh;
    padding: 15px 0;
}

.adminPanel .main .content .box .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.adminPanel .main .content .box .head .title {
    font-weight: 700;
    color: var(--fx-primary-color);
}

.adminPanel .main .content .box .topNavigation_box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--fx-secondary-btn-bg);
    margin-top: -15px;
    margin-bottom: 20px;
}

.adminPanel .main .content .box .topNavigation_box a {
    background: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    padding: 15px 25px;
    border-bottom: 1px solid var(--fx-primary-color);
    box-shadow: 5px -8px 8px 3px #78787845;
}

.adminPanel .main .content .box .topNavigation_box a.active {
    background: var(--fx-primary-color);
    color: #fff;
}

.adminPanel .main .navBar .list {
    padding: 25px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adminPanel .main .navBar .list .single {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    font-size: 25px;
    padding: 8px;
}

.adminPanel .main .navBar .list .single.active {
    background: #fff;
    color: var(--fx-primary-color);
    border-radius: 50px 0 0 50px;
}

.adminPanel .main .navBar .list .single span {
    display: block;
    font-weight: 800;
    font-size: 15px;
}

.adminPanel .form_page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.adminPanel .form_page.s {
    align-items: center;
}

.adminPanel .form_page.s .single_row {
    max-width: 600px;
    min-width: 500px;
}

.adminPanel .form_page .s_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_info {
    display: flex;
    gap: 15px;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.data_info .single .tit {
    color: var(--fx-main-text-color);
    font-size: 19px;
}

.data_info .single .data {
    font-size: 20px;
    color: #000;
}

.data_info .single.op_btn {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    align-items: end;
    justify-content: center;
}