{% macro displayProduct(product) %}


	<div class="col-md-3">

		<div class="single_cours_grid product">
			<a href="{{ path('home_merch_page_index', {'id': 1}) }}" class="img_holder">
				<img src="{{ asset('images/logo_circle.png') }}" alt="">


			</a>
			<div class="infos">
				<a href="{{ path('home_merch_page_index', {'id': 1}) }}">
					<span class="cours_title">title</span>
				</a>

				<div class="bottom_part">
					<div class="prix">
						15Dt
					</div>
					<div>
						<button class="btn_main">
							<i class="fa-solid fa-cart-plus"></i>
						</button>
					</div>


				</div>


			</div>


		</div>
	</div>
{% endmacro %}
