{% macro displayProduct(product) %}


	<div class="col-md-3">

		<a class="single_cours_grid" href="{{ path('home_cours_page_index', {'slug': "dfsdsf"}) }}">
			<div class="img_holder">
				<img src="{{ asset('images/logo_circle.png') }}"  alt="">
				<div class="add_cours_btn">

					<i class="fa-solid fa-book"></i>

				</div>
				 

			</div>
			<div class="infos">
				 
				<span class="cours_title">title</span>
				<div class="rating">
				  
				</div>
				<div class="separator"></div>
				<div class="bottom_part">
					sdfsdfsdf/

				</div>


			</div>


		</a>
	</div>
{% endmacro %}
