{% extends 'admin/adminPanelLayout.html.twig' %}
{% block adminPanelBody %}
 
	<div class="container">
		<div class="head">
			<div class="left">
				<h3 class="title">Users</h3>

			</div>
			 
		</div>
		<div class="Dtable_style">


			<table id="Dtable" class="table table-striped " style="width:100%">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prenom</th>

						<th>Email</th>
						<th>Options</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>qsdjq</td>
						<td>sqdqsdqsfsdf</td>
						<td>qspodipez</td>
						<td>qspodipez</td>

					</tr>
				</tbody>
			</table>
		</div>

	</div>


{% endblock %}


{% block scripts %}


	<script>
		var $window = $(window);
$window.on('load', function (key, value) {
$('#Dtable').DataTable({

"language": {
"url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json"
}
});
 

});
	</script>
{% endblock %}
