<div class="quiz_popup general_popup">
    <div class="header_section">

        <div class="txt">
            Cours
        </div>
        <div class="title">
            kdjqklsdlkqsdjqjsdlkjsqlkdjqsld
        </div>



    </div>

    <div class="question_list">
        <div class="single">


            <div class="question">
                qdhqskjdqs dkhqskjd qhsd?
            </div>

            <div class="img_holder">
                <img src="{{ asset('images/cours/Image.png') }}" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single_rep correct">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
            </div>
        </div>
        <div class="single">


            <div class="question">
                qdhqskjdqs dkhqskjd qhsd?
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="single_rep correct">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
            </div>
        </div>
        <div class="single">


            <div class="question">
                qdhqskjdqs dkhqskjd qhsd?
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="single_rep correct">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="single_rep">
                        qsQS
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>