<div class="col-md-6">
    <div class="single">
        <div class="header_section">
            <div class="related_cours">

                <div class="txt">
                    Cours
                </div>
                <div class="title">
                    kdjqklsdlkqsdjqjsdlkjsqlkdjqsld
                </div>

            </div>
            <div class="options_chimp ">
                <div class="dropdown">
                    <div class="  dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <ul class=" dropdown-menu dropdown-menu-end ">

                        <li><div class="dropdown-item " href="# " openGeneralPopup data-link="{{ path('teacher_quiz_preview_popup' , {quiz_id:1}) }}">Afficher</div></li>

                        <li><a class="dropdown-item " href="# ">Modifier</a></li>

                        <li><a class="dropdown-item " href="# ">Supprimer</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="infos">
            <div class="s">Duration : <span> 15Min</span> </div>
            <div class="s">Nb Question: <span>10</span></div>


        </div>

    </div>
</div>