{% extends 'admin/adminPanelLayout.html.twig' %}
{% block adminPanelBody %}
      <div class="container">
                        <div class="head">
                            <div class="left">
                                <h3 class="title">Ajouter une Categorie</h3>

                            </div>

                        </div>
                        <div class="form_page s">
                            <div class="single_row">
                                <div class="form-group">
                                    <label>Nom de Categorie</label>
                                    <input type="text" class="form-control" placeholder="">

                                </div>
                            </div>


                            <div class=" s_btn">
                                <button class="btn_main">Enregistrer </button>

                            </div>
                        </div>
                    </div>


{% endblock %}


