<div class="single">

    <div class="delete_lesson">
        <i class="fa-solid fa-delete-left"></i>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="">
                        <label>Titre du lesson</label>
                    </div>
                </div>
            </div>



            <div class="col-md-12">
                <div class="single_row">


                    <div class="form-floating">
                        <textarea class="form-control" style="height: 100px"></textarea>
                        <label>Contenu</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="">
                        <label>Duree</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_row">

                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="">
                        <label>classement</label>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>