<div class="forum_page" style="padding: 0;">
    <div class="add_pub_section edit_publication">
        <div class="top_entry">
            <div class="avatar">
                <img src="{{asset('images/cours/person.jpg')}}" alt="">
            </div>
            <div class="entry">
                <div class="imgs_list"></div>
                <div class="content">
                    <textarea class="form-control" placeholder="Titre" rows="1"> fsgfgsfdgfdgfd gdfsgfdgetrgrzetrzsdazdazeaze</textarea>
                    <textarea class="form-control" placeholder="Poser votre question" rows="2"> fdg sdfgfdsgdfgfd gf</textarea>

                </div>

            </div>

        </div>
        <div class="btm_btns">
            <div class="single">

                <i class="fa-solid fa-paperclip"></i>


            </div>
            <div>
                <button class="btn_main">Modifier</button>

            </div>

        </div>

    </div>
</div>