<div class="single">
	<div class="head">
		<div class="avatar">
			<img src="{{ asset('images/cours/person.jpg') }}" alt="">

		</div>
		<div class="infos">
			<div class="username">
				shaheenj
			</div>
			<div class="date">12/04/1998</div>

		</div>
		<div class="options">


			<div class="dropdown dropstart">
				<div class="drop_btn" data-bs-toggle="dropdown">
					<i class="fa-solid fa-ellipsis-v"></i>
				</div>

				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="#">Modifier</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Supprimer</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="content">
		<div class="title">dsf jqdhksjqhdkhqskdhkhkqjsdhkqsjh</div>
		<div class="img_list">
			<div class="single_img">
				<img src="{{ asset('images/cours/Image.png') }}" alt="">

			</div>
			<div class="single_img">
				<img src="{{ asset('images/cours/Image.png') }}" alt="">

			</div>
			<div class="single_img">
				<img src="{{ asset('images/cours/Image.png') }}" alt="">

			</div>


		</div>
		<div class="question">
			<p>
				qlksdlqsldkqslkdjlqsjdjqsdlkjqlsk
			</p>
		</div>

	</div>


	<div class="infos">
		<div class="reactions">
			<div class="single_reaction">
				<div class="icon like">
					<i class="fa-solid fa-thumbs-up"></i>
					<!--  <i class="fa-regular fa-thumbs-up"></i> -->
				</div>
				<div class="counting">15</div>
				<div class="txt">J'aime</div>
			</div>
			<div class="single_reaction">
				<div class="icon dislike">
					<i class="fa-regular fa-thumbs-down"></i>
				</div>
				<div class="counting">8</div>
				<div class="txt">Je n'aime pas</div>
			</div>
			<div class="single_reaction">
				<div class="icon comment">
					<i class="fa-regular fa-message"></i>
				</div>
				<div class="counting">1</div>
				<div class="txt">commantaire</div>

			</div>

		</div>

	</div>

	<div class="list_comments">
		{% for i in 1..3 %}

			{% include 'home/components/forum/singleComment.html.twig' %}

		{% endfor %}


	</div>
</div>
