<div class="single_comment">
	<div class="avatar">
		<img src="{{ asset('images/cours/person.jpg') }}" alt="">
	</div>
	<div class="content">
		<div class="top">
			<div class="username">Shaheenj</div>
			<div class="date">Il y'a 10 jours</div>

		</div>
		<p class="comment">
			lsdfjlkdsjflkdjfljdlfj flkjldsfjldjfljdlfj sfjldksjfdfsdfsdf seres resrsfdfdf
		</p>
	</div>

</div>
