<div class="single_comment">
	<div class="avatar">
		<img src="{{ comment.user.image is not empty ? comment.user.image : asset('images/cours/person.jpg') }}" alt="User Avatar">

	</div>
	<div class="content">
		<div class="top">
			<div class="username">{{ comment.user.username }}</div>
            <div class="date">
			{{ comment.date|date('d/m/Y') }}
			</div>

		</div>
		<p class="comment">
    		{{comment.commentaire}}
		</p>
	</div>

</div>
