<div class="auth_holder">

	<div class="auth_title">Se connecter avec</div>
	<div class="social_btns">
		<button class="fb">
			<i class="fa-brands fa-facebook-f"></i>
			<span>Facebook</span>
		</button>
		<button class="google">
			<i class="fa-brands fa-google"></i>
			<span>Google</span>
		</button>


	</div>
	<div class="separator">
		<div class="line"></div>
		<span>Ou</span>
		<div class="line"></div>

	</div>

	<form action="{{ path('home_auth_login_post') }}" method="post">
		<div class="input_holder">


			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-user"></i>
				</span>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>

			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-lock"></i>
				</span>
				<input type="password" class="form-control" name="password" placeholder="Mot de passe">
			</div>
		</div>

	<div class="ind" id="openForgetPws" href="{{path ('password_reset_request')}}">
		Mot de passe oublié ?
	</div>

	

	<button class="btn_main" type="submit">Login</button>

	</form>
	<div class="ind" id="openRegister">
		Je n'ai pas de compte !</div>


</div>
<!-- Add the Recaptcha script here -->
<script src="https://www.google.com/recaptcha/api.js?render=6LeALcopAAAAAPdua0xfZJ9MJkbaj6OBobc0pIBe"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LeALcopAAAAAPdua0xfZJ9MJkbaj6OBobc0pIBe', {action: 'login'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
            console.log('Recaptcha executed, token:', token); // Add this line to debug
        });
    });
</script>
