<div class="auth_holder">
 {% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(document).ready(function() {
            $('#registerForm').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response !== 'Success') {
                            console.log(response);
                        } else {
                            // The form was submitted successfully
                            window.location.href = "{{ path('home_forum_index') }}";
                        }
                    }
                });
            });
        });
    </script>
    {% endblock %}
	<div class="auth_title">S'inscrire avec</div>
	<div class="social_btns">
		<button class="fb">
			<i class="fa-brands fa-facebook-f"></i>
			<span>Facebook</span>
		</button>
	<a href="{{ path('register_google_start') }}" class="btn btn-google" role="button">
    <i class="fa-brands fa-google"></i>
    <span>Continue with Google</span>
</a>


	</div>
	<div class="separator">
		<div class="line"></div>
		<span>Ou</span>
		<div class="line"></div>

	</div>


	<form id ="registerForm" action="{{ path('home_auth_register_post') }}" method="post">
		<div class="input_holder">

			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-user"></i>
				</span>
				<input type="text" class="form-control" name="nom" placeholder="Nom">
			</div>

			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-user"></i>
				</span>
				<input type="text" class="form-control" name="prenom" placeholder="Prenom">
			</div>

			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-user"></i>
				</span>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-at"></i>
				</span>
				<input type="email" class="form-control" name="email" placeholder="Email">
			</div>

			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-lock"></i>
				</span>
				<input type="password" class="form-control" name="password" placeholder="Mot de passe">
			</div>
			<div class="input-group flex-nowrap">
				<span class="input-group-text">
					<i class="fa-solid fa-lock"></i>
				</span>
				<input type="password" class="form-control" name="repreta_password" placeholder="Repeter mot de passe">
			</div>
						<div class="g-recaptcha" data-sitekey="6LdvDcspAAAAAFHiT0dfSZjh5PpMzxa-f-tMvXvH"></div>

		</div>
		
		<button type="submit" class="btn_main">S'inscrire</button>
	</form>
	<div class="ind" id="openLoginPopup">
		Vous avez déjà un compte?
	</div>

</div>


