<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div class="reset-password-container">
         <form action="{{ path('submit_new_password') }}" method="post">
            <div class="form-group">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="repeat-new-password">Repeat New Password:</label>
                <input type="password" id="repeat-new-password" name="repeatNewPassword" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</body>
</html>
