<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Categories
	</a>
	<ul class="dropdown-menu">
		<li>
			<a class="dropdown-item" href="{{ path('home_cours_filter_index') }}">categories 1</a>
		</li>
		<li>
			<a class="dropdown-item" href="{{ path('home_cours_filter_index') }}">categories 1</a>
		</li>

	</ul>
</li>
