<div class="modal fade" id="generalModel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-lg">
        <div class="modal-content">
            <div class="general">

            </div>

        </div>
    </div>
</div>