{% extends 'home/homeLayout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/forum.css') }}">
{% endblock %}


{% block body %}
 
 
    <div class="forum_page">
 
            <div class="container">
                 
                <div class="row" >
                    <div class="col-md-4" >
                        <div class="left_side" >

                        </div>
                    </div>

                    <div class="col-md-8" >
                        <div class="core" >

                        </div>
                    </div>
                </div>

            </div>
 
    </div>

{% endblock %}
