{% extends 'home/homeLayout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/cours_lessons.css') }}">
{% endblock %}


{% block body %}

	<div class="cours_lessons">


		<div class="content">
			<div class="container">
				<div class="row">

					<div class="col-md-9">
						<div class="core">

							<div class="content_holder">
								<div class="thumb"></div>
								<div class="content">
									qkldkqsjdljqsjd lqsjdljqlsdjl doqdiozdoiauodiuiazdlk zad
									                                    azmldmlazkdlmz dpaozdpaz
									                                    dqsdsqsdljqslkdlqksj idoazd zad


								</div>

							</div>
							<a href="{{ path('cours_quiz_index') }}"><button class="btn_main">Suivant</button></a>
							

						</div>
					</div>
					<div class="col-md-3">
						<div class="side_bar">

							<div class="single done">
								<div class="circle"></div>
								<div class="title">
									lesson 1</div>

							</div>
							<div class="single  done">
								<div class="circle"></div>
								<div class="title">
									lesson 2</div>

							</div>
							<div class="single current">
								<div class="circle"></div>
								<div class="title">
									lesson 3</div>

							</div>
							<div class="single">
								<div class="circle"></div>
								<div class="title">
									lesson 4</div>

							</div>
							<div class="single">
								<div class="circle"></div>
								<div class="title">
									lesson 5</div>

							</div>
							<div class="single quizz">
								<div class="circle"></div>
								<div class="title">
									Quizz</div>


							</div>

						</div>

					</div>


				</div>

			</div>


		</div>
	</div>
{% endblock %}
