{% extends 'teacher/teacherPanelLayout.html.twig' %} {% block body %}
<div class="container">
    <div class="action_section">
        <div class="section_title">
            Mes Quizs

        </div>
        <div class="sep">

        </div>



    </div>

</div>

<div class="quiz_list">
    <div class="container">
        <div class="row">

        </div>

    </div>

</div>

{% endblock %}