{% extends 'home/homeLayout.html.twig' %}
{% import 'home/components/merch/productGrid.html.twig' as productGrid %}
 

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/filter_page.css') }}?v={{ random() }}">
{% endblock %}


{% block body %}

{% block merchBody %}
 
{% endblock %}
<div class="btn btn-primary open_cart_btn" data-bs-toggle="offcanvas" href="#cartDrawer" role="button" >
 <i class="fa-solid fa-cart-shopping"></i>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartDrawer"  >
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"  >Mon panier</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul id="cart-items"></ul>
    
  </div>
</div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script>

 
	</script>
{% endblock %}
