{% extends 'home/homeLayout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/quizz.css') }}">
{% endblock %}


{% block body %}


	<div class="cours_quizz">


		<div class="content">
			<div class="container">
				<div class="quizz_note_page">
					<div class="txt">
						Votre note est :</div>
					<div class="note">{{score}}/20</div>
					<div class="btm_section">
						<a class="btn_main" href="{{ path('home_quizz_pdf', {'quizId': quizId})}}">Imprimer</a>
					</div>

				</div>

			</div>


		</div>
	</div>


{% endblock %}
