{% extends 'teacher/teacherPanelLayout.html.twig' %} {% import 'teacher/components/cours/cours_grid.html.twig' as courGrid %} {% block body %}
<div class="container">
    <div class="action_section">
        <div class="section_title">
            Mes cours

        </div>
        <div class="sep"></div>

        <a href="{{ path('teacher_cours_add')  }}">
            <button class="btn_main">Ajouter un Cours</button>
        </a>

    </div>

</div>



<div class="cours_list">
    <div class="container">
    {% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
        <div class="row">
            {% for cours in my_cours %} {{ courGrid.displayCourse(cours) }} {% endfor %}
        </div>

    </div>

</div>
{% endblock %}