{% extends 'teacher/teacherPanelLayout.html.twig' %}
{% block body %}
	<div class="container">
		<div class="action_section">
			<div class="section_title">
				Mes cours

			</div>
			<div class="sep"></div>

			<a href="#">
				<button class="btn_main">Ajouter un Cours</button>
			</a>

		</div>

	</div>

	<div class="cours_list">
		<div class="container">
			<div class="row"  ></div>

		</div>

	</div>
{% endblock %}
